.zoom-image {
    transition: transform 0.2s; 
  }
  
  .zoom-image:hover {
    transform: scale(0.9);
  }


.bigContainer{
    gap: 40px;
}

@media screen and (max-width: 767px) {
    .d-flex.flex-wrap {
      justify-content: center;
    }
  }

  @media screen and (max-width: 375px) {
    .card-body {
      padding: 10px; /* Reduce padding for better space utilization */
    }
  
    /* Adjust button styles to make them fit */
    .btn {
      font-size: 8px; /* Increase font size for buttons */
      padding: 5px 4px; /* Increase button padding */
    }
  }
  
  
  
  
  
  