.zoom-image {
    transition: transform 0.2s; 
  }
  
  .zoom-image:hover {
    transform: scale(0.9);
  }


.bigContainer{
    gap: 40px;
}

@media screen and (max-width: 767px) {
    .d-flex.flex-wrap {
      justify-content: center;
    }
  }