.sidebar{
    padding-top: 25px;
    /* border: 1px solid red;   */
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bigContainer{
    width: 97%;
    margin: auto;
}

.container1{
    /* border: 2px solid red; */
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 950px) {
   .sidebar{
       display: none;
   }
   .container1{
    width: 100%;
   }
  }

  /* @media screen and (max-width: 1541px) {
    .container1{
        align-items: center;
        justify-content: center;
    }
   } */



.sidebar>h4{
    color: grey;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: underline;
}

.bannerSlider{
    margin-top: 40px;
}